table {
    border-collapse: collapse;
    color: #fff;
    background-color: #0c131b;
}

table h1 {
    margin: 0;
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

table h2 {
    margin: 0;
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.text {
    padding-top: 41px;
    margin: 0;
    margin-right: 50px;
    margin-left: 50px;
    line-height: 22px;
 font-size: 14px;
    color: #86918c;
    font-family: "Arial";
    align-items: center;
    padding-bottom: 36px;
     
}

table i {
    font-style: normal;
    color: #e8a336;
}

table a {
    color: #ea5825;
}

.text{
    
    font-size: 14px;
line-height: 22px;
color: #86918c;
font-family: "Arial";
}
.text-2{
    padding-left: 50px;
    font-size: 14px;
    color: #86918c;
    font-family: "Arial";
    margin-bottom: 50px;
}

.button img {
    text-align: center;

}

table h3 {
    font-size: 36px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding: 0;
    margin: 0;
}

table b {
    text-transform: uppercase;
    font-size: 36px;
    color: #9f15a9;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

table h4 {
    margin: 0;
    font-size: 24px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

table h5 {
    font-size: 11px;
    color: #85908c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

table h6 {
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    background-color: #ebd2aa;
}

.footer {
    background-color: #ebd2aa;
}
.footer td{
    background-color: #ebd2aa;
}

.footer p {
    padding: 0;
    margin: 0;
    margin-left: 80px;
    margin-right: 80px;

    text-align: center;
}

.footer p {
    color: #000;
}
.socials{
    margin-left: 50px;
    margin-right: 50px;
}
.socials img {
  
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    width: 299px;
    height: 47px;
    border-color: black;
    background-color: #9f15a9;
   margin-left: 25%;
 margin-right: 25%;
 cursor: pointer;
}
.forbut {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}